<link rel="stylesheet" href="/src/Components/Summary/Summary.css" template="summary" />

<template id="summary">
    <section>
        <h1 class="title">Patrick Ferreira Carvalho</h1>
        <p class="role">Desenvolvedor Web</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos consequuntur ad amet eum qui repellat quidem obcaecati possimus distinctio labore placeat illum nesciunt, dicta deleniti ea nemo atque! Quos, nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa fugiat repellendus ipsam laborum consequuntur architecto facilis iusto eveniet, quaerat assumenda libero esse et magnam incidunt, sed unde quisquam molestiae explicabo.</p>
    </section>
</template>
