section {
    width: 50%;
}

.title {
    font-size: 40px;
    margin-block: 5rem 0.2rem;
    font-weight: 900;
}

.role {
    font-size: 22px;
    margin-top: 0;
    color: #e2e8f0e8;
}

.description {
    text-align: start;
    font-weight: 500;
}